<!DOCTYPE html>
<html>
<head>
  <title>Active job log</title>
  <%= stylesheet_link_tag    "active_job_log/application", media: "all" %>
  <%= javascript_include_tag "active_job_log/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
